label {
  display: inline-block;
  color: #607D8B;
  font-weight: bold;
  text-align: right;
  margin: .5em 0;
  width: 15%;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-left: 40px;
  min-width: 15vh;
}

button {
  font-family: Arial, serif;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  margin: 1% 1% auto 4%;
  width: 15vw;
  height: 5vh;
  font-size: 1em;
  color: #555;
  border: 2px solid #777;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
