.selected {
  background-color: #CFD8DC !important;
  color: white;
}

button {
  width: 30%;
  height: 5vh;
  font-size: 1em;
  border: 2px solid #777;
  margin-top: 1%;
}

.technicians {
  margin: auto;
  text-align: center;
  padding: 0;
  width: 75%;
}

.technicians li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  border: 2px solid #777;
}

.technicians li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.technicians li:hover {
  color: #607D8B;
  background-color: #DDD;

}

.technicians .text {
  position: relative;
  top: -3px;
}

.technicians .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}

label {
  display: inline-block;
  color: #607D8B;
  font-weight: bold;
  text-align: right;
  margin: .5em 0;
  width: 15%;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-left: 40px;
  min-width: 15vh;
}
