@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Exam</title>
</head>
<body>
    <form id="login-form" action="/login/Login" method="GET">
        Enter name : <input type="text" name="user"> <BR>
        <input type="submit" value="Login" />
    </form>
</body>
</html>
