@using Assignment9_ASP.NET.Models;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Emanuel-Vasile Putura">
    <meta name="description" content="E-Commerce Store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Store</title>

    <link rel="stylesheet" href="~/Webapp/Styles/main.css">
    <link rel="stylesheet" href="~/Webapp/Styles/products-crud.css">
    <script src="~/Webapp/Scripts/main.js"></script>
</head>

<body>
    <main>
        <ul id="nav-bar">
            <li>
                <button id="home-page" type="button">Home</button>
            </li>
            <li>
                <button id="db-insert" type="button">Insert Product</button>
            </li>
            <li>
                <button id="db-update" type="button">Update Product</button>
            </li>
            <li>
                <button id="db-delete" type="button">Delete Product</button>
            </li>
        </ul>

        <h1 class="title">E-Commerce Store</h1><hr>

        @{
            var products = (List<Product>)ViewData["Products"];
        }
        <table style="width: 75%; height: 60%; margin-top: 2%">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                </tr>
            }
        </table>
    </main>
</body>

<script language="javascript" type="text/javascript">
    var eventHandler = new EventHandling();
</script>
</html>


