
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Emanuel-Vasile Putura">
    <meta name="description" content="E-Commerce Store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Store</title>

    <link rel="stylesheet" href="~/Webapp/Styles/main.css">
    <link rel="stylesheet" href="~/Webapp/Styles/products-crud.css">
    <script src="~/Webapp/Scripts/main.js"></script>
</head>

<body>
    <main>
        <ul id="nav-bar">
            <li>
                <button id="home-page" type="button">Home</button>
            </li>
            <li>
                <button id="db-insert" type="button">Insert Product</button>
            </li>
            <li>
                <button id="db-update" type="button">Update Product</button>
            </li>
            <li>
                <button id="db-delete" type="button">Delete Product</button>
            </li>
        </ul>

        <h1 class="title">E-Commerce Store</h1><hr>

        <form class="form" action="">
            <label for="product-id">Product ID:</label>
            <input type="text" id="product-id" name="product-id"><br>
            <label for="product-name">Product name:</label>
            <input type="text" id="product-name" name="product-name"><br>
            <label for="product-category">Product category:</label>
            <input type="text" id="product-category" name="product-category"><br>
            <label for="product-price">Product price:</label>
            <input type="text" id="product-price" name="product-price"><br>
            <button type="button" id="submit-update-btn">Update Product</button>
        </form>
    </main>
</body>

<script language="javascript" type="text/javascript">
        var eventHandler = new EventHandling();
</script>
</html>


