<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source = DESKTOP-PJI8ALC;Initial Catalog=FCSB; Integrated Security = True"/>
  </connectionStrings>

  <appSettings>
    <!--
    <add key="parentTable" value="TeamFormations"/>
    <add key="childTable" value="Trophies"/>
    <add key="parentPK" value="formation"/>
    <add key="childFK" value="mostPlayedFormation"/>
    -->
    
    <add key="parentTable" value="TeamOwner"/>
    <add key="childTable" value="Team"/>
    <add key="parentPK" value="id"/>
    <add key="childFK" value="owner"/>
    
  </appSettings>
</configuration>
