<div *ngIf="client">
  <h2>Technician {{client.firstName}} details</h2>

  <div>
    <label>First name: </label>
    <input [(ngModel)]="client.firstName" placeholder="firstName">
  </div>

  <div>
    <label>Last name: </label>
    <input [(ngModel)]="client.lastName" placeholder="lastName">
  </div>

  <div>
    <label>Email address: </label>
    <input [(ngModel)]="client.emailAddress" placeholder="emailAddress">
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</div>
