<ul id="nav-bar">
    <li>
        <a routerLink="/" routerLinkActive="active"><button type="button">Home</button></a>
    </li>
    <li>
        <a routerLink="/insert" routerLinkActive="active"><button type="button">Insert Product</button></a>
    </li>
    <li>
        <a routerLink="/update" routerLinkActive="active"><button type="button">Update Product</button></a>
    </li>
    <li>
        <a routerLink="/delete" routerLinkActive="active"><button type="button">Delete Product</button></a>
    </li>
</ul>
