<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Emanuel-Vasile Putura">
        <meta name="description" content="Web Exam">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Exam</title>

        <link rel="stylesheet" href="./client/styles/main.css">
        <script src="./client/scripts/main.js"></script>
    </head>

    <body>
        <main>
            <div id="login-div">
                <label>
                    Name: <input type="text" id="user-name" name="user-name"><br>
                </label>
                <button onclick="onSubmitNameBtnClicked()">Submit name</button><br>
            </div>
        </main>
    </body>
</html>
