<form class="form" action="">
    <label for="product-id">Product ID:</label>
    <input type="text" id="product-id" name="product-id"><br>
    <label for="product-name">Product name:</label>
    <input type="text" id="product-name" name="product-name"><br>
    <label for="product-category">Product category:</label>
    <input type="text" id="product-category" name="product-category"><br>
    <label for="product-price">Product price:</label>
    <input type="text" id="product-price" name="product-price"><br>
    <button type="button" id="submit-update-btn">Update Product</button>
</form>