<h2>Technicians associated with the selected device:</h2>
<ol class="technicians">
  <li *ngFor="let technician of technicians ">
    {{technician.firstName}} {{technician.lastName}} {{technician.salary}}
  </li>
</ol>

<hr>

<div>
  <h2>Devices:</h2>
  <ol class="devices">
    <li *ngFor="let device of devices "
        [class.selected]="device === selectedDevice"
        (click)="onSelect(device)">
      {{device.type}} {{device.brand}} {{device.model}}
    </li>
  </ol>

  <hr>

  <div *ngIf="selectedDevice">
    <h2>
      Device [Type: {{selectedDevice.type}}, Brand: {{selectedDevice.brand}}, Model: {{selectedDevice.model}},
      Client: <{{selectedDeviceClient.firstName}}, {{selectedDeviceClient.lastName}}, {{selectedDeviceClient.emailAddress}}>] was selected!
    </h2>
  </div>
</div>
