body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  min-height: 100vh;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

app-navigation-bar {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 5vh;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
