label {
  display: inline-block;
  color: #607D8B;
  font-weight: bold;
  text-align: right;
  margin: .5em 0;
  width: 15%;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  margin-left: 40px;
  min-width: 15vh;
}

button {
  font-family: Arial, serif;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  margin: 1% 1% auto 4%;
  width: 15vw;
  height: 5vh;
  font-size: 1em;
  color: #555;
  border: 2px solid #777;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.clients {
  margin: auto;
  text-align: center;
  padding: 0;
  width: 75%;
}

.clients li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  border: 2px solid #777;
}

.clients li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.clients li:hover {
  color: #607D8B;
  background-color: #DDD;

}

.clients .text {
  position: relative;
  top: -3px;
}

.clients .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
