<h1>Devices</h1>

<button (click)="displayAll()">Display all devices</button>
<button (click)="displayAllPaginated()">Display all devices paginated</button><br>
<button (click)="displayAllHavingClient()">Display devices associated with a client</button>
<button (click)="addDevice()">Add device</button>

<hr>

<h2>Devices List</h2>

<app-devices-list *ngIf="displayOption == 0"></app-devices-list>
<app-devices-paginated *ngIf="displayOption == 1"></app-devices-paginated>
<app-devices-associated-with-list *ngIf="displayOption == 2"></app-devices-associated-with-list>
