<ol class="devices">
  <li *ngFor="let device of devices "
      [class.selected]="device === selectedDevice"
      (click)="onSelect(device)">
    {{device.type}} {{device.brand}} {{device.model}}
  </li>
</ol>

<hr>

<div *ngIf="selectedDevice">
  <h2>
    Device [Type: {{selectedDevice.type}}, Brand: {{selectedDevice.brand}}, Model: {{selectedDevice.model}},
    Client: <{{selectedDeviceClient.firstName}}, {{selectedDeviceClient.lastName}}, {{selectedDeviceClient.emailAddress}}>] was selected!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
