.form {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 0;
}

.form label {
    display: inline-block;
    width: 17%;
    text-align: left;
}

.form input {
    width: 80%;
}

form button {
    width: 99%;
    margin: auto;
}