/* #wrapper > *, #col1 > *, #col2 > *, #col3 > * {
    border: 2px solid black;
} */

#wrapper > * {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1vh 15vh;
    box-sizing: border-box;
    height: 85vh;
}

#col1, #col2, #col3 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}

#col1 {
    flex: 50%;
}

#col2, #col3 {
    flex: 25%;
}

#main-art {
    flex: 100%;
    height: 50%;
    margin: 1% 1%;
    /* text-align: center; */
    color: white;
    position: relative;
}

#art1-1 {
    flex: 48%;
    height: 22%;
    margin: 1% 1%;
}

#art1-2 {
    flex: 48%;
    height: 22%;
    margin: 1% 1%;
    position: relative;
}

#art1-3 {
    flex: 48%;
    height: 22%;
    margin: 1% 1%;
    position: relative;
}

#art1-4 {
    flex: 48%;
    height: 22%;
    margin: 1% 1%;
    position: relative;
}

#art2-1, #art3-1 {
    flex: 100%;
    height: 40%;
    margin: 1% 1%;
}

#art2-2, #art3-2 {
    flex: 100%;
    height: 19%;
    margin: 1% 1%;
    position: relative;
}

#art2-3, #art3-3 {
    flex: 100%;
    height: 19%;
    margin: 1% 1%;
    position: relative;
}

#art2-4, #art3-4 {
    flex: 100%;
    height: 19%;
    margin: 1% 1%;
    position: relative;
}

#txt-main-art {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
    font-family: 'Segoe UI';
    font-size: 4vh;
}

#main-art, #art1-1, #art1-2, #art1-3, #art1-4, #art2-1, #art2-2, #art2-3, #art2-4, #art3-1, #art3-2, #art3-3, #art3-4 {
    background-color: white;
    border: 1px solid gray;
} 

.art-txt {
    font-family: 'Segoe UI';
    font-size: 2vh;
    background-color: white;
}

#art2-1, #art3-1 {
    position: relative;
}

#txt-art2-1, #txt-art3-1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
    font-family: 'Segoe UI';
    font-size: 3vh;
    color: white;
}

#ending-hr {
    border: 1px solid #a72929;
}

#logo1-2 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;
}

#logo1-3 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo1-4 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo2-2 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo2-3 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo2-4 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo3-2 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo3-3 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo3-4 {
    height: 8%;
    width: 20%;
    position: absolute;
    bottom: 8px;
    left: 52%;

    background-color: red;
}

#logo1-2-txt {
    width: 75%;
    font-size: 10px;
    bottom: 10%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    #col1 {
        flex: 100%;
    }

    #col2, #col3 {
        flex: 50%;
    }

    #txt-main-art {
        font-size: 3vh;
    }

    #txt-art2-1 {
        font-size: 2.5vh;
    }

    #txt-art3-1 {
        font-size: 2.5vh;;
    }

    .art-txt {
        font-size: 1.5vh;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    #col1, #col2, #col3 {
        flex: 100%;
    }

    #txt-main-art {
        font-size: 2vh;
    }

    #txt-art2-1 {
        font-size: 1.5vh;
    }

    #txt-art3-1 {
        font-size: 1.5vh;;
    }

    .art-txt {
        font-size: 0.5vh;
    }
  }
