<h2>Devices associated with the selected technician:</h2>
<div>
  <h2>Devices:</h2>
  <ol class="devices">
    <li *ngFor="let device of devices "
        [class.selected]="device === selectedDevice"
        (click)="onSelectDevice(device)">
      {{device.type}} {{device.brand}} {{device.model}}
    </li>
  </ol>
</div>

<hr>

<div>
  <ol class="technicians">
    <li *ngFor="let technician of technicians "
        [class.selected]="technician === selectedTechnician"
        (click)="onSelectTechnician(technician)">
      {{technician.firstName}} {{technician.lastName}} {{technician.salary}}
    </li>
  </ol>

  <hr>

  <div *ngIf="selectedTechnician">
    <h2>
      {{selectedTechnician.firstName}} was selected!
    </h2>
  </div>
</div>
