<ol class="teams">
  <li *ngFor="let team of teams "
      [class.selected]="team === selectedWorkshopTeam"
      (click)="onSelect(team)">
    Team Name: {{team.teamName}}
  </li>
</ol>

<hr>

<div *ngIf="selectedWorkshopTeam">
  <h2>
    Team [Team Name: {{selectedWorkshopTeam.teamName}},
    Technician: <{{selectedWorkshopTeamTechnician.firstName}}, {{selectedWorkshopTeamTechnician.lastName}}, {{selectedWorkshopTeamTechnician.salary}}>] was selected!
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
